@model IEnumerable<IceCreamProject.Models.IcecreamTaste>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="heading_container heading_center ">
    <h1>Order Icecream</h1>
    <h4>choose the wanted taste</h4>
</div>

<section class="product_section layout_padding">
    <div class="container-fluid">

        <div class="container-fluid">

            <div class="product_container">
                <div class="carousel-wrap ">
                    <div class="product_owl-carousel owl-carousel">

                        @foreach (var item in Model)
                        {
                            <div class="item">
                                <div class="col-md-9 col-lg-7 mx-auto px-0">
                                    <div class="client_container">
                                        <div>
                                            <h4 class="text-info">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </h4>
                                            <div>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </div>
                                            <div>
                                                <div class="img-box">
                                                    <img src="@Url.Content(@item.ImgLocation)" width="100" height="100" />
                                                </div>
                                            </div>
                                            <div class="btn-box" id="buttonCool">

                                                <a asp-controller="IcecreamTastes" asp-action="Details" asp-route-id="@item.Id" style="background-color:black">pick me</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<center>
    <h4>
        We have a variety of flavors, and we always like to explore new colors, tastes and flavors combination.
        We invite you to choose the icecream of your dreams!
    </h4>

</center>



