@model IEnumerable<IceCreamProject.Models.IcecreamTaste>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="heading_container heading_center ">
    <h1>Icecream Menu</h1>
    <h4>All icecreams in the shop. Add new ones, and edit the existing ones.</h4>
</div>

<p>
    <a asp-controller="Manager" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Url.Content(@item.ImgLocation)" width="100" height="100" />
                </td>
                <td>
                    <a asp-controller="Manager" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Manager" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Manager" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>